/*
	css file for Riel-Leftwich.html
*/

/* --- links begin --- */
 /* unvisited link */
a:link {
  color: blue;
  font-size: 24px;
}

/* visited link */
a:visited {
  color: red;
  font-size: 24px;
}

/* mouse over link */
a:hover {
  color: hotpink;
  font-size: 24px;
}

/* selected link */
a:active {
  color: green;
  font-size: 24px;
} 
/* --- links end --- */


h1{

	color: black;
	font-weight: bold;
	font-size: 56px;
}

h2{
	text-align: center;
	color: black;
	font-size: 24px;
}

p {
	text-align: left;
	color: black;
	font-size: 24px;
}

p2 {
	text-align: center;
	color: black;
	font-size: 24px;
}

p1 {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px; 
}

li {
  display: inline;
}

center {
	text-align: center;

img {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	overflow: visible;
}

header {
    text-align: center;
    padding: 20px;
}

/* input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



